.header__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-right: 24px;
}

@media (max-width: 767px) {
  .header__links {
    display: none;
  }
}