.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 32px 0;
}

@media (max-width: 1179px) {
  .footer__columns {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media(max-width: 767px) {
  .footer__columns {
    grid-template-columns: repeat(1, auto);
  }
}