.header {
  align-items: center;
  position: relative;
  background-color: #5F62AC;
  position: relative;
}

@media (max-width: 767px) {
  .header {
    height: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}







