.showing__heading {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  max-width: 542px;
  margin: 0 0 32px 0;
}

@media (max-width: 767px) {
  .showing__heading {
    font-size: 20px;
    line-height: 28px;
  }
}