.description__button {
  background-color: #e5e5e5;
  border: 1px solid transparent;
  margin-top: 56px;
  border-radius: 28px;
  margin-right: 16px;
  outline: none;
  padding: 14px 36px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
}

.description__button:hover {
  border: 1px solid #F0C630;
}

@media (max-width: 1179px) {
  .description__button {
    padding: 14px 24px;
  }
  .description__button:not(:last-child) {
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .description__button {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    margin: 0 0 8px 0;
    width: 260px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}