.houses__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 20px;
  list-style:none;
  padding: 0;
}

@media (max-width: 1179px) {
  .houses__list {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .houses__list {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
}